@model ANIMAUX.Models.UpdatePublication
@{
    ViewBag.Title = "Изменить объявление";
}
<body class="card-body">
    <div>
        <div class="card-header">
            <h3>Изменить объявление</h3>
        </div>
            <div>
            @using (Html.BeginForm("Publication", "Edit", FormMethod.Post, new { @class = "mt-3" }))
            {
                
                        <input readonly type="hidden" name="id" id="id" value="@ViewBag.id" >
                

                <div class="form-group row">
                    @Html.LabelFor(m => m.dateTime):
                    @Html.EditorFor(m => m.dateTime)
                    @Html.ValidationMessageFor(m => m.dateTime)
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.Foto):
                    @Html.EditorFor(m => m.Foto)
                    @Html.ValidationMessageFor(m => m.Foto)
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.Sity):
                    @Html.EditorFor(m => m.Sity)
                    @Html.ValidationMessageFor(m => m.Sity)
                </div>


                <div class="form-group row">
                    @Html.LabelFor(m => m.Name):
                    <select name="Name">
                        @foreach (var item in ViewBag.animals as IEnumerable<ANIMAUX.Models.animal>)
                        {
                            <option value="@Html.DisplayFor(modelItem => item.name)"
                                    @(ViewBag.animal == item.name ? "selected" : "")>
                                @Html.DisplayFor(modelItem => item.name)
                            </option>
                        }
                    </select>
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div>
                    @Html.LabelFor(m => m.Status):
                    <input type="radio" id="cock" name="Status" value="lost" @(Model.Status == "l" ? "checked" : "")>Потеряно 
                    <input type="radio" id="cock" name="Status" value="found" @(Model.Status == "f" ? "checked" : "")>Найдено 
                    @Html.ValidationMessageFor(m => m.Status)
                </div>

                <div class="form-group row">
                    <input type="submit" value="Изменить">
                    @Html.ActionLink("Отмена", "Publications", "Home")
                </div>
            }
            </div>
        </div>
</body>