<!--https://localhost:44399/Home/Card?cardId=7-->
<div class="card mt-3 w-75 mx-auto">
    <div class="card-header">
        Карточка животного №@ViewBag.cardId
    </div>
    <div class="card-body">
        @using (Html.BeginForm("DeleteCards", "Home", FormMethod.Post))
        {
            <input type="text" value=@ViewBag.cardId name="cardId" id="cardId" hidden>
            @ANIMAUX.Helpers.BootstrapHtml.LabelInput("Кличка животного", "name", @ViewBag.animal.name)

            @ANIMAUX.Helpers.BootstrapHtml.LabelInput("Дата размещения объявления", "date_added", @ViewBag.card.date_added.ToShortDateString())

            @ANIMAUX.Helpers.BootstrapHtml.LabelInput("Пол животного", "sex", @ViewBag.animal.sex)

            @ANIMAUX.Helpers.BootstrapHtml.LabelInput("Дата рождения", "birth_date", @ViewBag.animal.birth_date.ToShortDateString())

            @ANIMAUX.Helpers.BootstrapHtml.LabelInput("Округ", "district", @ViewBag.district.name)

            <div class="form-group row justify-content-center">
                <button class="col-sm-2 mr-3 btn btn-warning">Изменить</button>
                <button class="col-sm-2 btn btn-danger" value="DeleteCards">Удалить</button>
            </div>
        }
    </div>
</div>
