@model IEnumerable<ANIMAUX.Models.animal>

@{
    ViewBag.Title = "реестр";
}
<h2>@ViewBag.Title.</h2>
<h2>Тут будет таблица реестра с фильтрацией и сортировкой</h2>
<table class="table">
    <tr>
        <th>№</th>
        <th>Кличка животного</th>
        <th>Дата размещения объявления</th>
        <th>Пол животного</th>
        <th>Возраст</th>
        <th>Населенный пункт</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.passport_number)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.birth_date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.breed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sex)
    </td>

</tr>
    }

</table>
