@model IEnumerable<ANIMAUX.Models.RegistryItems>

@{
    ViewBag.Title = "Реестр";
    var user = 1;

}
<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Registry", "Home", FormMethod.Post, new { @class = "row my-3" }))
{

    <div class="col">@ANIMAUX.Helpers.BootstrapHtml.MyDropdown("dropDownSort", ViewBag.DropDownSort, "Сортировка")</div>
    <div class="col">
        <input id="dateInput" type="date" min="01.01.2000" class="form-control" name="dateInput" />
    </div>
    <div class="col">
        @ANIMAUX.Helpers.BootstrapHtml.MyDropdown("dropDownSex", ViewBag.DropDownSex, "Пол")
    </div>
    <div class="col">
        @ANIMAUX.Helpers.BootstrapHtml.MyDropdown("dropDownAge", ViewBag.DropDownAge, "Возраст")
    </div>
    <div class="col">
        @ANIMAUX.Helpers.BootstrapHtml.MyDropdown("dropDownDistrict", ViewBag.DropDownDistrict, "Округ")
    </div>
    <div class="col">
        <button class="btn btn-info" value="Registry">Применить</button>
    </div>

}
<table class="table">
    <tr>
        <th>№</th>
        <th>Кличка животного</th>
        <th>Дата размещения объявления</th>
        <th>Пол животного</th>
        <th>Возраст</th>
        <th>Округ</th>
        <th>
            @if (user == 0)
            {
                using (Html.BeginForm("DeleteCards", "Home", FormMethod.Post))
                {
                    <input type="text" value="-1" name="cardId" id="cardId" hidden>
                    <button class="btn btn-danger" value="DeleteCards">Удалить всё</button>
                }
            }
        </th>

    </tr>

    @foreach (var item in ViewData["registryItems"] as IEnumerable<ANIMAUX.Models.RegistryItems>)
    {
        <tr>
            <td>
               
                @Html.ActionLink(item.cards.id.ToString(),"Card", "Home", new { cardId = item.cards.id },new { @class= "btn btn-outline-info" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animals.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cards.date_added)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animals.sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animals.birth_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.districts.name)
            </td>
            <td>
                @if (user == 0)
                {
                    using (Html.BeginForm("DeleteCards", "Home", FormMethod.Post))
                    {
                        <input type="text" value=@item.cards.id name="cardId" id="cardId" hidden>
                        <button class="btn btn-outline-danger" value="DeleteCards">Удалить</button>
                    }
                }
            </td>
        </tr>
    }

</table>
