@model IEnumerable<ANIMAUX.Models.RegistryItems>

@{
    ViewBag.Title = "реестр";
    
}
<h2>@ViewBag.Title.</h2>
<h2>Тут будет таблица реестра с фильтрацией и сортировкой</h2>
<div class="row my-3">
    <div class="form-group">
        <div class="col-md-10">
            @ANIMAUX.Helpers.BootstrapHtml.Dropdown("dropdownSort", ViewBag.SortType, "Сортировка")
        </div>
    </div>

</div>

<table class="table">
    <tr>
        <th>№</th>
        <th>Кличка животного</th>
        <th>Дата размещения объявления</th>
        <th>Пол животного</th>
        <th>Возраст</th>
        <th>Населенный пункт</th>
        <th><input type="checkbox" class="form-check-input"></th>
    </tr>

    @foreach (var item in ViewData["registryItems"] as IEnumerable<ANIMAUX.Models.RegistryItems>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cards.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animals.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cards.date_added)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animals.sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animals.birth_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.districts.name)
            </td>
            @if (true)
            {
                <td>
                    <input type="checkbox" class="form-check-input">
                </td>
            }
        </tr>
    }

</table>
