@model IEnumerable<ANIMAUX.Models.RegistryItems>

@{
    ViewBag.Title = "Реестр";

}
<h2>@ViewBag.Title</h2>



@using (Html.BeginForm("Registry", "Home", FormMethod.Post, new { @class = "row my-3" }))
{

    <div class="col">@ANIMAUX.Helpers.BootstrapHtml.MyDropdown("dropDownSort", ViewBag.DropDownSort, "Сортировка")</div>
    <div class="col">
        <input id="dateInput" type="date" min="01.01.2000" class="form-control" name="dateInput" />
    </div>
    <div class="col">
        @ANIMAUX.Helpers.BootstrapHtml.MyDropdown("dropDownSex", ViewBag.DropDownSex, "Пол")
    </div>
    <div class="col">
        @ANIMAUX.Helpers.BootstrapHtml.MyDropdown("dropDownAge", ViewBag.DropDownAge, "Возраст")
    </div>
    <div class="col">
        @ANIMAUX.Helpers.BootstrapHtml.MyDropdown("dropDownDistrict", ViewBag.DropDownCity, "Округ")
    </div>
    <div class="col">
        <button class="btn btn-info" value="Registry">Применить</button>
    </div>

}


<table class="table">
    <tr>
        <th>№</th>
        <th>Кличка животного</th>
        <th>Дата размещения объявления</th>
        <th>Пол животного</th>
        <th>Возраст</th>
        <th>Округ</th>
    
    </tr>

    @foreach (var item in ViewData["registryItems"] as IEnumerable<ANIMAUX.Models.RegistryItems>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cards.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animals.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cards.date_added)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animals.sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animals.birth_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.districts.name)
            </td>
            @if (false)
            {
                <td>
                    <input type="checkbox" class="form-check-input">
                </td>
            }
        </tr>
    }

</table>
