@{
    var user = 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                @switch (user)
                {
                    case 0:
                        <li class="nav-item">@Html.ActionLink("Реестр", "Registry", "Home", new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Объявления", "Publications", "Home", new { @class = "nav-link" })</li>
                        break;
                    case 1:
                        <li class="nav-item">@Html.ActionLink("Реестр", "Registry", "Home", new { @class = "nav-link" })</li>
                        break;
                    case 2:
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Личный кабинет
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @Html.ActionLink("Профиль", "Profile", "Home", new { @class = "dropdown-item" })
                                @Html.ActionLink("Мои домашние животные", "Pets", "Profile", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Уведомления", "Notification", "Profile", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Мои объявления", "MyPublications", "Profile", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                        <li class="nav-item">@Html.ActionLink("Объявления", "Publications", "Home", new { @class = "nav-link" })</li>
                        break;
                }

            </ul>
            @using (Html.BeginForm("Card", "Home", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0" }))
            {

                switch (user)
                {
                    case 0:<button class="btn btn-outline-info mr-3 " value="Card">Добавить карточку</button>
                      
                        break;
                    case 1: <button class="btn btn-outline-info" value="Card">Добавить карточку</button>
                        break;
                    
                }
            }

            @using (Html.BeginForm("Publication", "Home", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0"}))
            {
            switch (user)
            {
            case 0:
            <button class="btn btn-outline-info " value="addPet">Добавить объявление</button>
            break;
            case 2:
            <button class="btn btn-outline-info " value="addPet">Добавить объявление</button>
            break;
            }
            }

        </div>

    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <!-- Подключаем jQuery с CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Подключаем Bootstrap Bundle JS с CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>
